body{
     background: url("https://i.pinimg.com/736x/ce/3b/29/ce3b2945dd31e1d78337c9ef1119a35d.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     font-family: "Fredoka One";
}

#back{
    width: 5%;
    margin:10px;
    float: right;
    font-size: 20px;
}

#status{
     padding: 20px;
     width: 30%;
     font-size: 25px;
     border-radius: 15px;
}