body{
     background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm163-nunny-03b_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1e264fd85b4716bee120fa9d3a8d4a13);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: "Fredoka One";
}

.btn-dark{
     margin: 10px;
     font-size: 25px;
     width: 30%;
     border-radius:20px;
}